.App {
  position: relative;
  text-align: center;
  height: 100vh; /* 화면 전체 높이 사용 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'NanumSquare', sans-serif;
}

.MainLogo-Container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000; /* 다른 요소들보다 상위에 있도록 설정 */
}

.LogoImage {
  width: 100px;
  height: 100px;
}

button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.InputField {
  margin-top: 20px; /* 로고 아래에 간격을 줍니다 */
  padding: 10px;
  font-size: 16px;
}

.App-Content {
  position: relative;
  z-index: 1;
}