/* BoxAnimation.css */
.box-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.box {
    position: absolute;
    width: 15px; /* 박스 크기 */
    height: 15px; /* 박스 크기 */
    animation: fall 5s linear infinite;
    animation-delay: 0s; /* 초기값 */
}

@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh);
    }
}