.Box-Container {
    position: relative;
    width: 100vw;
    height: 100vh; /* 화면 높이 */
    overflow: hidden;
    z-index: 0; /* 다른 요소들보다 뒤에 위치하도록 설정 */
}

.box {
    position: absolute;
    width: 15px; /* 박스 크기 */
    height: 15px; /* 박스 크기 */
    animation: fall 5s linear forwards;
    animation-fill-mode: forwards; /* 애니메이션 종료 후 최종 상태를 유지 */
    z-index: 0; /* 박스들이 다른 요소들보다 뒤에 위치하도록 설정 */
}

@keyframes fall {
    0% {
        transform: translateY(-100vh); /* 화면 바깥에서 시작 */
    }
    100% {
        transform: translateY(0); /* 화면 안으로 이동 */
    }
}